<% content_for :page_title do %>
  <%= Spree.t(:promoters) %>
<% end %>

<% if spree_current_user.has_spree_role?("admin") %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_promoter), new_admin_promoter_url, :class => "btn-success", :icon => 'add', :id => 'admin_new_promoter_link' %>
<% end %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_promoters_index_search">
    <%= search_form_for [:admin, @search], url: spree.admin_promoters_url do |f| %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:email) %>
            <%= f.text_field :email_cont, :class => 'form-control js-quick-search-target' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:phone) %>
            <%= f.text_field :phone_cont, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:first_name) %>
            <%= f.text_field :first_name_cont, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:last_name) %>
            <%= f.text_field :last_name_cont, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label Spree.t(:identity) %>
            <%= f.text_field :identity_cont, :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div data-hook="admin_pormoters_index_search_buttons" class="form-actions">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<table class="table" id="listing_promoters" data-hook>
  <thead>
    <tr data-hook="admin_promoters_index_headers">
      <th>
        <%= sort_link @search,:email, Spree.t(:promoter), {}, {:title => 'promoters_email_title'} %>
      </th>
      <th data-hook="admin_promoters_index_header_actions" class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @promoters.each do |promoter|%>
      <tr id="<%= spree_dom_id promoter %>" data-hook="admin_promoters_index_rows">
        <% if spree_current_user.has_spree_role?("admin") %>
          <td class='user_email'><%=link_to promoter.email, edit_admin_promoter_url(promoter) %></td>
        <% else %>
          <td class='user_email'><%=link_to promoter.email[0,5] + "*******", edit_admin_promoter_url(promoter) %></td>
        <% end %>

        <td><%= promoter.store_credit %></td>
        <td data-hook="admin_promoters_index_row_actions" class="actions actions-2 text-right">
          <%= link_to_edit promoter, :no_text => true %>
          <%= link_to_delete promoter, :no_text => true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @promoters %>
