<div id="article">
  <div class="container">
    <div class="title-img">
      <div class="line"></div>
      <%= image_tag("tandc/icon-term@2x.png") %>
      <div class="line"></div>
    </div>
    <div class="title"><%= Spree.t(:'privacy.title') %></div>
    <div class="li">
      <div class="li-li-title"><%= Spree.t(:'privacy.p1') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p2') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p3') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p4') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p5') %></div>
      <p class="li-li-title" style="line-height: 0.2"><%= Spree.t(:'privacy.p6_1') %></p>
      <p class="li-li-title" style="line-height: 0.2"><%= Spree.t(:'privacy.p6_2') %></p>
      <p class="li-li-title" style="line-height: 0.2"><%= Spree.t(:'privacy.p6_3') %></p>
      <p class="li-li-title" style="line-height: 0.2"><%= Spree.t(:'privacy.p6_4') %></p>
      <p class="li-li-title" style="line-height: 0.2"><%= Spree.t(:'privacy.p6_5') %></p>
      <div class="li-li-title"><%= Spree.t(:'privacy.p7') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p8') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p9') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p10') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p11') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p12') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p13') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p14') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p15') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p16') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p17') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p18') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p19') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p20') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p21') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p22') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p23') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p24') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p25') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p26') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p27') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p28') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p29') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p30') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p31') %></div>
      <div class="li-li-title"><%= Spree.t(:'privacy.p32') %></div>
    </div>
    <div class="up-para"><%= Spree.t(:'privacy.p33') %><br><%= Spree.t(:'privacy.p34') %></div>
  </div>
  <%= render partial: 'spree/shared/footer' %>

</div>
