<%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
<div class="border-table hidden-xs">
  <table id="cart-detail" data-hook>
    <thead>
      <tr data-hook="cart_items_headers">
        <th colspan="2"><%= Spree.t(:cart_tableHeader_details)%></th>
        <th><%= Spree.t(:cart_tableHeader_price)%></th>
        <th><%= Spree.t(:cart_tableHeader_quantity)%></th>
        <th><%= Spree.t(:cart_tableHeader_totalPrice)%></th>
      </tr>
    </thead>
    <tbody id="line_items" data-hook>
      <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
    </tbody>
  </table>
</div>
<div class="row visible-xs-block xs-border-table">
  <%= render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: { order_form: order_form } %>
</div>


<div class="summary-table">
  <table>
    <col width="50%">
    <col width="50%">

    <caption><%= Spree.t(:cart_summary_title)%></caption>
    <tbody>
      <tr>
        <td><b><%= Spree.t(:cart_summary_subtotal)%></b></td>
        <td>${{ price_total.toFixed(2) }}</td>
      </tr>
      <tr>
        <td >
          <a href="<%= spree.root_path %>" class="button" style="border: 1px solid #3acced; color: #787878; background: transparent"><%= Spree.t(:cart_summary_keepShopping) %></a>
        </td>
        <td>
          <%= button_tag class: 'button', id: 'checkout-link', name: 'checkout' do %>
          <%= Spree.t(:cart_summary_checkout) %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
