<% variant = line_item.variant %>
<div class="hidden-xs">
  <%= order_form.fields_for :line_items, line_item do |item_form| %>
    <tr class="stock-item">
      <td data-hook="order_item_image" class="item-image">
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag(variant.images.first.attachment.url(:small)) %>
        <% end %>
      </td>
      <td data-hook="order_item_description">
        <h4><%= line_item.name %></h4>
        <%= variant.options_text %>
      </td>
      <td data-hook="order_item_price"><span>{{ prices[<%= line_item_counter %>].single }}</span></td>
      <td data-hook="order_item_qty">
        <span v-on:click="minus(<%= line_item_counter %>)" class="math">-</span>
        <select name="tier" id="tier" v-model="selected[<%= line_item_counter %>]" @input="changeItem(<%= line_item_counter %>, $event)">
          <option v-for="option in options[<%= line_item_counter %>]" v-bind:value="option.value">{{ option.text }}</option>
        </select>
        <span v-on:click="plus(<%= line_item_counter %>)" class="math">+</span>
      </td>
      <td data-hook="order_item_total" style="color: #474c4d; font-weight: 500">
        ${{ prices[<%= line_item_counter %>].total.toFixed(2) }}
        <div v-on:click="deleteLineItem(<%= line_item_counter %>)"  class="delete">
          <img src="<%= asset_path 'checkout/button-delete@2x.png' %>">
        </div>
      </td>
    </tr>
  <% end %>
</div>
<div class="visible-xs-block">
  <%= order_form.fields_for :line_items, line_item do |item_form| %>
    <div class="item clearfix">
      <div class="item-image">
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag(variant.images.first.attachment.url(:small)) %>
        <% end %>
      </div>
      <div class="item-detail">
        <div class="text"><%= line_item.name %><br><span class="func"><%= variant.options_text %></span></div>
        <div class="price">{{ prices[<%= line_item_counter %>].single }}</div>
        <div class="qty">
          {{ selected[<%= line_item_counter %>].replace('.', ' ') }}
        </div>
        <div v-on:click="deleteLineItem(<%= line_item_counter %>)"  class="delete">
          <img src="<%= asset_path 'checkout/button-delete@2x.png' %>">
        </div>
      </div>
    </div>
  <% end %>
</div>
