<% variant = line_item.variant %>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr><td colspan=5><div style="border-top: solid 1px #dedede;margin:0 20px"></div></td></tr>
  <tr style="height: 190px">
    <td data-hook="cart_item_image" style="padding: 0 20px">
      <div style="line-height: 100%;vertical-align: middle;">
        <!-- <input type="checkbox" style="display: inline-block"/> -->
        <div style="display: inline-block; margin: 0 24px;">
          <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
          <% end %>
        </div>
        <div style="display: inline-block; width: 340px; vertical-align: middle">
          <div class="cool_choice_label"><%= link_to line_item.name, product_path(variant.product) %></div>
          <div class="cool_choice_titles"><%= variant.options_text %></div>
        </div>
      </div>
    </td>
    <td data-hook="cart_item_description">
      <div class="price">{{ prices[<%= line_item_counter %>].single }}</div>
      <% if true #line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
    </td>
    <td data-hook="cart_item_price">
      <button type='button' class="minus_plus" v-on:click="minus(<%= line_item_counter %>)">-</button>

      <select name="tier" id="tier" v-model="selected[<%= line_item_counter %>]" @input="changeItem(<%= line_item_counter %>, $event)">
        <option v-for="option in options[<%= line_item_counter %>]" v-bind:value="option.value">{{ option.text }}</option>
      </select>

      <button type='button' class="minus_plus" v-on:click="plus(<%= line_item_counter %>)">+</button>
      <%#= item_form.number_field :quantity, min: 0, class: "form-control line_item_quantity", size: 5 %>
    </td>
    <td class="total_price" data-hook="cart_item_total">
      {{ prices[<%= line_item_counter %>].total.toFixed(2) }}
    </td>
    <td class="cart-item-delete" data-hook="cart_item_delete">
      <button type='button' class="glyphicon glyphicon-minus-sign" style="border: none; background-color: transparent"  v-on:click="deleteLineItem(<%= line_item_counter %>)"></button>
    </td>
  </tr>
<% end %>
