<% @body_id = 'cart' %>
<div data-hook="cart_container">
<h1><%= Spree.t(:cart_tableHeader_title)%></h1>

  <% if @order.line_items.empty? %>
    <div data-hook="empty_cart">
      <div class="alert alert-info"><%= Spree.t(:your_cart_is_empty) %></div>
      <p><%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %></p>
    </div>
  <% else %>
    <div data-hook="outside_cart_form">
      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>
        <div data-hook="inside_cart_form">
          <div data-hook="cart_items" class="table-responsive">
            <%= render partial: 'form', locals: { order_form: order_form } %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>

<script>
  var vm = new Vue({
    el: '#cart',
    data: {
      order: {},
      selected: "k",
    },
    watch: {
      "selected": function() {
        alert(this.selected);
      }
    },
    methods: {
      minus: function(index) {
        var qty = this.order.line_items[index].quantity
        if (qty > 1) {
          this.order.line_items[index].quantity -= 1
        }
      },
      plus: function(index) {
        this.order.line_items[index].quantity += 1;
      },
      options: function(index) {
        var qty = this.order.line_items[index].quantity
          if (qty > 1) {
            return [ {text: "months", value: "month"}, {text: "weeks", value: "week"}, {text: "days", value: "day"} ];
          } else {
            return [ {text: "month", value: "month"}, {text: "week", value: "week"}, {text: "day", value: "day"} ];
          }
      }
    }
  })

  $.ajax({
    url: '/api/v1/orders/<%= @order.number %>?order_token=<%= @order.guest_token %>',
    error: function() {
    },
    success: function(data) {
      vm.order = data
    },
    type: 'GET'
  });

</script>
