<div class="row form-content">
  <div class="col-sm-6" data-hook="billing_fieldset_wrapper">
    <div class="" id="billing" data-hook>
      <%= form.fields_for :bill_address do |bill_form| %>
        <div class="form-title">
          <%= Spree.t(:billing_address) %>
        </div>
        <div class="">
          <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
        </div>
        <% if try_spree_current_user %>
          <label for="save_user_address">
          <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
          <%= Spree.t(:save_my_address) %>
          </label>
        <% end %>
        <% if @order.state == 'address' || !@order.email? %>
          <%= form.label :email, class: 'email' %>
          <%= form.text_field :email %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6" data-hook="shipping_fieldset_wrapper">
    <div class="" id="shipping" data-hook>
      <%= form.fields_for :ship_address do |ship_form| %>
        <div class="form-title">
          <%= Spree.t(:shipping_address) %>
        </div>

        <div class="">
          <p class="" data-hook="use_billing">
            <%= label_tag :order_use_billing, :id => 'use_billing' do %>
              <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
              <%= Spree.t(:use_billing_address) %>
            <% end %>
          </p>
          <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'button' %>
</div>


