<div class="text form-content clearfix">
  <div class="title"><%= Spree.t(:billing_address) %></div>
  <div class="col-sm-6">
    <label><%= Spree.t(:first_name) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" v-model="first_name" name="first_name" id="first_name" required/>
    <label><%= Spree.t(:last_name) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" v-model="last_name" name="last_name" required/>
    <label><%= Spree.t(:street_address) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" v-model="address" name="address" required/>
    <label><%= Spree.t(:street_address_2) %></label>
    <input type="text" v-model="address_opt" name="address_opt"/>
    <label><%= Spree.t(:phone) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" v-model="phone" name="text" required/>
  </div>
  <div class="col-sm-6" id="bcountry">
    <label><%= Spree.t(:city) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" placeholder="city" v-model="city" name="city" required/>
    <label><%= Spree.t(:country) %><abbr class="required" title="required">*</abbr></label>
    <%= form.fields_for :bill_address do |bill_form| %>
    <span id=<%="bcountry-selection" %>>
    <%= bill_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required', :'v-model' => 'country_code'} %>
    </span>
    <% if Spree::Config[:address_requires_state] %>
      <p class="form-group" id=<%="bstate" %>>
        <%= bill_form.label :state do %>
          <%= Spree.t(:state) %><abbr class='required' title="required">*</abbr>
        <% end %>

        <%== state_elements = [
           bill_form.collection_select(:state_id, @order.bill_address.country.states,
                                                       :id, :name, {},
                                                       {:"v-model" => "state_code", :"class" => "required"},
                              )
           ].join.gsub('"', "'").gsub("\n", "")
        %>
      </p>
    <% end %>
    <% end %>
    <label><%= Spree.t(:zip) %><abbr class="required" title="required">*</abbr></label>
    <input type="text" placeholder="zip" v-model="zip" name="zip" required/><br>
    <label for="save_user_address">
      <input type="checkbox" placeholder="save_address" v-model="save_address" name="save_address" required/>
      <%= Spree.t(:save_my_address) %>
    </label>
  </div>
</div>
<div class="col-sm-6"><button type='button' class="button" v-on:click="proceed"><%= Spree.t(:save_and_continue)%></button></div>

<script>
  var validator = $("#checkout_form_address").validate();
  var vm = new Vue({
    el: '#checkout',
    data: {
      order_number: "<%= current_order.number %>",
      order_token: "<%= current_order.guest_token %>",

      first_name: "<%= current_spree_user.bill_address.firstname rescue "" %>",
      last_name: "<%= current_spree_user.bill_address.lastname rescue "" %>",
      address: "<%= current_spree_user.bill_address.address1 rescue "" %>",
      address_opt: "<%= current_spree_user.bill_address.address2 rescue "" %>",
      phone: "<%= current_spree_user.bill_address.phone rescue "" %>",
      city: "<%= current_spree_user.bill_address.city rescue "" %>",
      country_code: <%= current_spree_user.bill_address.country_id rescue 0 %>,
      state_code: <%= current_spree_user.bill_address.state_id rescue 0 %>,
      zip: "<%= current_spree_user.bill_address.zipcode rescue "" %>",
      save_address: true,

      special_instructions_hash: <%= JSON.parse(@order.special_instructions).to_json.html_safe %>

    },
    computed: {
      bill_address: function() {
        var h = {}
        h["firstname"] = this.first_name
        h["lastname"] = this.last_name
        h["address1"] = this.address
        h["address2"] = this.address_opt
        h["phone"] = this.phone
        h["city"] = this.city
        h["country_id"] = this.country_code
        h["state_id"] = this.state_code
        h["zipcode"] = this.zip
        return h
      },
      json: function() {
        /*
           To advance to the next state, delivery, the order will first need both a shipping and billing address.
           Once valid address information has been submitted, the shipments and shipping rates available for this order will be returned inside a shipments key inside the order
        */
        var h = {
            "order": {
              "bill_address_attributes": this.bill_address,
              "ship_address_attributes": this.bill_address,
            }
          }
        console.log(h)
        return h
      }
    },
    methods: {
      proceed2: function() {
        console.log(2)
        $.ajax({
          type: "PUT",
          url: '/api/v1/checkouts/' + this.order_number + '/next.json?order_token=' + this.order_token,
          success: function(data) {
            console.log(3)
            console.log(data)
            window.location.href = '/checkout/'
          },
          fail: function(data) {
            console.log(4)
          }
        })
      },
      proceed: function(){
        if (!validator.form()){
          validator.focusInvalid()
          return
        }
        var that = this
        $.ajax({
          type: "PUT",
          url: '/api/v1/orders/' + this.order_number + '?order_token=' + this.order_token,
          success: function(data) {
            console.log(data)
            $.ajax({
              type: "PUT",
              url: '/api/v1/checkouts/' + that.order_number + '?order_token=' + that.order_token,
              success: function(data) {
                console.log(data)
                console.log(1)
                that.proceed2()
              },
              data: {
                "order": {
                  "1": {
                    "selected_shipping_rate_id": "2",
                    "id": "2"
                  }
                }
              }
            })
          },
          data: this.json
        })
      }
    },
    ready: function(){
      $('#link-to-cart').remove()
    }
  })
</script>
