<div class="col-md-6">
  <div class="">
    <div class="form-title"><%= Spree.t(:create_a_new_account) %></div>
    <div id="new-customer" class="" data-hook="login">
      <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
        <div data-hook="signup_inside_form">
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <p><%= f.submit Spree.t(:create), :class => 'button' %></p>
        </div>
      <% end %>
      <div class="">
        <%= Spree.t(:or) %>
          <%= link_to Spree.t(:login_as_existing), spree.login_path %>
      </div>
      <div data-hook="login_extras">
        <div id="social-signin-links">
          <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
            <h4><%= Spree.t(:sign_in_through_one_of_these_services) %>
              <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
                <%= link_to(content_tag(:i, '', class: "icon-spree-#{method.provider.to_url}-circled"),
                      "#{Rails.application.config.webhost}/users/auth/facebook",
                      id: method.provider.to_url,
                      title: Spree.t(:sign_in_with, provider: method.provider)) if method.active %>
              <% end %>
            </h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
