<% paypal_value = 0 %>
<% stripe_value = 0 %>
<% @order.available_payment_methods.each do |method| %>
  <% if method.method_type == 'paypal' %>
  <% paypal_value = method.id %>
  <% elsif method.method_type == 'stripe' %>
  <% stripe_value = method.id %>
  <% end %>
<% end %>

<div class="payment">
  <% if stripe_value != 0 %>
  <div :class="['credit-card', payment_method == <%= stripe_value %> ? 'active' : '']" @click="payment_choose(<%= stripe_value %>)">
    <%= image_tag("checkout/active@2x.png", class: "tick") %>
    <div class="img">
      <%= image_tag("checkout/icon-creditcard@2x.png", width: "53") %>
    </div>
    <div class="text"><%= Spree.t(:"checkout.credit_card") %></div>
  </div>
  <% end %>
  <% if paypal_value != 0 %>
  <div :class="['paypal', payment_method == <%= paypal_value %> ? 'active' : '']" @click="payment_choose(<%= paypal_value %>)">
    <%= image_tag("checkout/active@2x.png", class: "tick") %>
    <div class="img">
      <%= image_tag("checkout/icon-paypal@2x.png", width: "38") %>
    </div>
    <div class="text"><%= Spree.t(:"checkout.paypal") %></div>
  </div>
  <% end %>
</div>
<div class="summary-table">
  <%= render partial: 'summary', locals: { order: @order, form: form } %>
</div>

<div class="" id="payment" data-hook>
    <%#= render partial: 'spree/checkout/payment/storecredit' %>

    <ul class="list-group" id="payment-method-fields" :style="<%= paypal_value %> && <%= stripe_value %> ? 'display: none' : ''" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li class="list-group-item">
          <label>
            <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
            <%= Spree.t(method.name, :scope => :payment_methods, :default => method.name) %>
          </label>
        </li>
      <% end %>
    </ul>

    <ul class="nav" id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
</div>

<div class="well text-right form-buttons"  style="display: none" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), class: 'btn btn-lg btn-success primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>
<script>
  var vm = new Vue({
    el: '#checkout',
    data: {
      payment_method: <%= stripe_value %>,
      coupon: "",
      order_number: "<%= current_order.number %>",
      order_token: "<%= current_order.guest_token %>",
      order_isGift: <%= current_order.special_instructions ? 'true' : 'false' %>
    },
    methods: {
      apply_coupon: function(){
        if (this.coupon == "") {
          return
        }
        $.ajax({
          type: "PUT",
          url: '/api/v1/orders/' + this.order_number + '/apply_coupon_code?order_token=' + this.order_token,
          success: function(data) {
            window.location.reload();
          },
          error: function(a,b,c) {
            alert(a.responseJSON["error"])
          },
          data: {
            "coupon_code": this.coupon
          }
        })
      },
      payment_choose: function(value) {
        this.payment_method = value;
        ($('#payment-methods li')).hide();
        ($('#payment_method_' + value)).show();
      }
    },
    ready: function(){
      if (<%= stripe_value %>) {
        document.getElementById("payment_method_<%= stripe_value %>").getElementsByTagName('button')[0].className = "button"
      }
      if (this.order_isGift) {
        $('#link-to-cart').remove()
      }
    }
  })
</script>
