<% content_for :google_analytics do %>
  <%= render partial: 'spree/shared/google_checkout.js', locals: { order: @order, step_number: (@order.checkout_steps.index(@order.state) + 1) } %>
<% end %>

<div id="checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <div class="row" data-hook="checkout_header">
    <div class="checkout-nav clearfix">
      <% states = @order.checkout_steps %>
      <% items = states.each_with_index.map do |state, i| %>
        <% style = 'left: ' + (660.0/(states.size-1)*i).to_s + 'px' %>
        <% if states.index(state) < states.index(@order.state) %>
          <a style="display:block" href="<%= checkout_state_path(state) %>">
        <% end %>
        <div style = "<%= style %>" class="<%= @order.state == state ? 'order-state active' : 'order-state' %>">
          <div class="circle"></div>
          <div class="state"><%= Spree.t('spree.'+state) %></div>
        </div>
        <% if states.index(state) < states.index(@order.state) %>
          </a>
        <% end %>
      <% end %>

      <div class="line">
        <% items = states.each_with_index.map do |state, i| %>
          <% style = 'left: ' + (660.0/(states.size-1)*i).to_s + 'px' %>
          <div style="<%= style %>" class="circle"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" data-hook="checkout_content">
    <div class="container" data-hook="checkout_form_wrapper">
      <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>
        <%= form.hidden_field :state_lock_version %>
        <%= @order.special_instructions %><br>
        <%= @order.state %>
        <% if @order.special_instructions && @order.state == "address" %>
          <%= render "gift_address", form: form %>
        <% else %>
          <%= render @order.state, form: form %>
        <% end %>
      <% end %>
    </div>

    <% if @order.state == 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render partial: 'summary', locals: { order: @order } %>
      </div>
    <% end %>

  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>

<% if I18n.locale != :en %>
  <%= javascript_include_tag 'jquery.validate/localization/messages_' + I18n.locale.to_s.downcase.gsub('-', '') %>
<% end %>
