<% address_id = 'shipping'.chars.first %>

<div data-hook="gift_container" id="gift">
  <div class="banner">
    <div class="container">
      <div class="title"><%= Spree.t(:'gift.title_cool') %></div>
      <div class="sub-title"><%= Spree.t(:'gift.title_do') %></div>
      <div class="gift">
        <span id=<%="#{address_id}country-selection" %>>
          <%= select_tag :country_id, options_from_collection_for_select(available_countries, :id, :name, "232"), :class => 'form-control required', "v-model": "countryCode" %>
        </span>
        <%= button_tag :send_a_gift, "v-on:click" => "sendAGift" do %>
          <%= Spree.t('gift.send_a_gift') %>
          <img src="/assets/gift/shape@2x.png">
        <% end %>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/gift/icon-order.png"></div>
        <div class="title"><%= Spree.t(:'gift.order') %></div>
        <p><%= Spree.t(:'homepage.cool_simply_line') %><br><%= Spree.t(:'homepage.cool_simply_line_2') %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/gift/icon-email.png"></div>
        <div class="title"><%= Spree.t(:'gift.email') %></div>
        <p><%= Spree.t(:'homepage.cool_care_line') %><br><%= Spree.t(:'homepage.cool_care_line_2') %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/gift/icon-gift.png"></div>
        <div class="title"><%= Spree.t(:'gift.gift') %></div>
        <p><%= Spree.t(:'homepage.cool_ingredients_line') %><br><%= Spree.t(:'homepage.cool_ingredients_line_2') %></p>
      </div>
    </div>
  </div>

</div>

<script>
  var vm = new Vue({
    el: '#gift',
    data: {
      countryCode: "",
      order_number: "<%= current_order.number %>",
      order_token: "<%= current_order.guest_token %>",
      order_isGift: <%= current_order.special_instructions ? 'true' : 'false' %>
    },
    watch: {
      countryCode: function() {
        console.log(this.countryCode);
      },
    },
    methods: {
      sendAGift: function() {
        var that = this
          /*
        $.ajax({
          type: 'POST',
          //ccsm1f000003
          //ccsm0000
          url: '/api/v1/orders/' + this.order_number + '/line_items?line_item[sku]=' + 'ccsm0000' + '&line_item[quantity]=' + 1 + '&order_token=' + this.order_token,
          success: function(data) {
            console.log(data);
            */
            $.ajax({
              type: "PUT",
              url: '/api/v1/orders/' + that.order_number + '?order_token=' + that.order_token,
              success: function(data) {
                console.log(data)
                window.location.href = '/checkout'
              },
              data: {
                "order": {
                  "special_instructions": JSON.stringify({
                    "country_id": that.countryCode
                  })
                }
              }
            })
        /*
          },
        })
        */
      }
    },
    ready: function(){
      if (this.order_isGift) {
        $('#link-to-cart').remove()
      }
    }
  })
</script>
