<% address_id = 'shipping'.chars.first %>

<div data-hook="gift_container">
  <p class="form-group" id=<%="#{address_id}country" %>>
    <%= label_tag :country_id do %>
      <%= Spree.t(:country) %>
    <% end %>
    <span id=<%="#{address_id}country-selection" %>>
      <%= select_tag :country_id, options_from_collection_for_select(available_countries, :id, :name, "232"), :class => 'form-control required' %>
    </span>
  </p>
  <p>
    <%= button_tag :send_a_gift do %>
      <%= Spree.t('gift.send_a_gift') %>
    <% end %>
  </p>
</div>
