<div class="shipping">
  <div class="name">收件人：<%= @order.ship_address.lastname %><%= @order.ship_address.firstname %><span class="phone"><%= @order.ship_address.phone %></span></div>
  <div class="address">收货地址：<%= @order.ship_address.state.name %> <%= @order.ship_address.city %> <%= @order.ship_address.address2 %><br/><%= @order.ship_address.address1 %></div>
</div>
<div class="china-item row">
  <% @order.line_items.each do |line_item| %>
  <div class="clearfix item-row">
    <div class="item-image">
      <%= image_tag("china/package.png")%>
    </div>
    <div class="item-details">
      <div class="fun"><%= line_item.variant.options_text_cn %> <br>6g/包 * 30包 * 1盒</div>
      <div class="qty">x<%= line_item.quantity %></div>
      <div class="price">$<%= line_item.quantity * line_item.price %></div>
    </div>
  </div>
  <% end %>
  <div class="fee">邮费<span><%= Spree::Money.new(@order.shipments.to_a.sum(&:cost), currency: @order.currency).to_html %><%= "（#{((@order.item_count-1)/3+1)*3-2}至#{((@order.item_count-1)/3+1)*3}盒）"%></span></div>
  <div class="total">总计<span><%= @order.display_total.to_html %></span></div>
</div>
<div class="plane">
  <div class="line"></div>
  <%= image_tag("china/icon-plane@2x.png") %>
  <div class="line"></div>
</div>
<p>订单确认后，美国加利福尼亚Cool Choice总部在48小时之内完成定制并发货，经国际物流（空运）及清关后送到您手中，时间约20天左右。</p>
<% if false %>
<div class="border-table steps">
  <table>
    <thead>
      <tr>
        <% if order.has_step?("address") %>
          <% if order.has_step?("delivery") %>
            <% unless @order.special_instructions %>
            <th><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></th>
            <% end %>
            <th><%= Spree.t(:'summary_table.shipping_method') %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %></th>
          <% end %>
        <% end %>
        <% if false %>
        <% if order.has_step?("payment") %>
          <th><%= Spree.t(:payment_information) %></th>
        <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if order.has_step?("address") %>
          <% if order.has_step?("delivery") %>
            <% unless @order.special_instructions %>
            <td><%= render 'address', address: order.ship_address %></td>
            <% end %>
            <td>
              <div class="delivery">
                <% order.shipments.each do |shipment| %>
                  <div>
                    <i class='fa fa-truck'></i>
                    <%= Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: "空运至中国") %>
                  </div>
                <% end %>
              </div>
              <%= render 'spree/shared/shipment_tracking', order: order if order.shipped? %>
            </td>
        <% end %>
        <% end %>
        <% if false %>
        <% if order.has_step?("payment") %>
          <td>
            <div class="payment-info">
              <% order.payments.valid.each do |payment| %>
                <%= render payment %><br/>
              <% end %>
            </div>
          </td>
        <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

<div class="border-table order">
  <table id='line-items' data-hook="order_details">
    <col width="55%" valign="middle">
    <col width="20%" valign="middle" halign="center">
    <col width="25%" valign="middle" halign="center">

    <thead data-hook>
      <tr class="active" data-hook="order_details_line_items_headers">
        <th><%= Spree.t(:item) %></th>
        <th class="qty"><%= Spree.t(:qty) %></th>
        <th class="total"><span><%= Spree.t(:total) %></span></th>
      </tr>
    </thead>

    <tbody data-hook>
      <% order.line_items.each do |item| %>
        <tr data-hook="order_details_line_item_row">
          <td data-hook="order_item_description">
            <h4><%= item.variant.product.name %></h4>
            <%= truncated_product_description(item.variant.product) %>
            <%= "(" + item.variant.options_text_cn + ")" unless item.variant.option_values.empty? %>
          </td>
          <% type = item.quantity > 1 ? {"d"=>Spree.t(:"homepage.bar_days"), "w"=>Spree.t(:"homepage.bar_weeks"), "m"=>Spree.t(:"homepage.bar_months")} : {"d"=>Spree.t(:"homepage.bar_day"), "w"=>Spree.t(:"homepage.bar_week"), "m"=>Spree.t(:"homepage.bar_month")} %>
          <td data-hook="order_item_qty"><%= item.quantity %><%= ' ' + type[item.variant.sku[3]] %></td>
          <td data-hook="order_item_total"><span><%= item.display_amount.to_html %></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="summary-table" style="width:100%">
  <table>
    <col width="70%">
    <col width="30%">

    <thead>
      <tr class="form-title">
        <th>Order Summary</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b><%= Spree.t(:subtotal) %>:</b></td>
        <td><%= order.display_item_total.to_html %></td>
      </tr>

      <% if order.line_item_adjustments.exists? %>
        <% if order.line_item_adjustments.promotion.eligible.exists? %>
          <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
           <tr>
             <td><%= Spree.t(:promotion) %>: <strong><%= label %></strong></td>
             <td><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></td>
           </tr>
         <% end %>
        <% end %>
      <% end %>

      <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
        <tr data-hook='shipment-row'>
          <td class="text-muted"><%= Spree.t(:'summary_table.shipping') %></td>
          <td><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></td>
        </tr>
      <% end %>

      <% if order.all_adjustments.tax.exists? %>
        <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
          <tr>
            <td class="text-muted"><%= Spree.t(:tax) %>: <strong><%= label %></strong></td>
            <td><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></td>
          </tr>
        <% end %>
      <% end %>

      <% order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
        <tr>
          <td><strong><%= adjustment.label %></strong></td>
          <td><span><%= adjustment.display_amount.to_html %></span></td>
        </tr>
      <% end %>
    </tbody>
    <tbody>
      <tr class="warning total">
        <td><b><%= Spree.t(:order_total) %>:</b></td>
        <td><span id="order_total"><%= order.display_total.to_html %></span></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
