<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<% self.title = "Address" %>
<% @body_id = 'Address' %>
<div id="china-checkout">
  <div class="container" >
    <form id="checkout-form" method="get" action="<%= spree.china_pay_path %>" accept-charset="UTF-8">
    <div class="china-address">
      <input name="promoter_email" value="<%= @promoter_email %>" hidden="hidden" />
      <input name="sku" value="<%= @sku %>" hidden="hidden" />
      <input name="num" value="<%= @num %>" hidden="hidden" />
      <div class="china-form">
        <div class="china-label">收件人*</div>
        <div class="china-input">
          <input name="name" placeholder="姓名" required></input>
        </div>
      </div>
      <div class="china-form">
        <div class="china-label">联系方式*</div>
        <div class="china-input">
          <input id="mobile" name="mobile" placeholder="手机号" style="width:70%" type="tel" pattern=".{11,11}" required></input>
        </div>
      </div>
      <div data-toggle="distpicker">
        <div class="china-form">
          <div class="china-label">省*</div>
          <div class="china-input">
            <select placeholder="姓名" name="province" required></select>
          </div>
        </div>
        <div class="china-form">
          <div class="china-label">市*</div>
          <div class="china-input">
            <select placeholder="姓名" name="city" required></select>
          </div>
        </div>
        <div class="china-form">
          <div class="china-label">区</div>
          <div class="china-input">
            <select placeholder="姓名" name="sub"></select>
          </div>
        </div>
      </div>
      <div class="china-form">
        <div class="china-label">详细地址*</div>
        <div class="china-input">
          <input placeholder="如楼层 门牌号" name="street" required></input>
        </div>
      </div>
      <div class="next-step" data-hook="buttons">
        <%= submit_tag '下一步' %>
      </div>
    </div>

<% if false %>
    <div class="row form-content">
      <div class="col-sm-6" >
        <div class="" id="billing" data-hook>
          <input name="id" value="<%= @order.id %>" hidden="hidden" />
          <div class="form-title">
            收货地址
          </div>
          <div class="">
            收件人：
            <input style="width:95%" name="name" value="<%= "#{@order.bill_address.lastname}#{@order.bill_address.firstname}"  if @order.bill_address %>" required></input>*
            <br/>
            省市区：
            <div data-toggle="distpicker">
              <select style="width:95%" name="province" data-province="<%= "#{@province[@order.bill_address.state.name]}"  if @order.bill_address %>" required></select>*
              <select style="width:95%" name="city" data-city="<%= "#{@order.bill_address.city}"  if @order.bill_address %>" required></select>*
              <select style="width:95%" name="sub" data-district="<%= "#{@order.bill_address.address2}"  if @order.bill_address %>"></select>
            </div>
            <br/>
            具体地址：
            <input style="width:95%" name="street" value="<%= "#{@order.bill_address.address1}"  if @order.bill_address %>" required></input>*
            <br/>
          </div>
        </div>
      </div>
    </div>
    <div class="" data-hook="buttons">
      <%= submit_tag Spree.t(:save_and_continue), :class => 'button' %>
    </div>
<% end %>
    </form>
  </div>
</div>

<script>
  var mobile = document.getElementById("mobile"); // form has to have ID: <form id="formID">

  var form = document.getElementById("checkout-form"); // form has to have ID: <form id="formID">
  form.noValidate = true;
  form.addEventListener('submit', function(event) { // listen for form submitting
    if (!event.target.checkValidity()) {
      event.preventDefault(); // dismiss the default functionality

      if (mobile.value.length !== 11) {
        window.alert('请输入11位手机号码*')
      } else {
        window.alert('请填写所有必填栏*')
      }
    }
  }, false);

</script>
