<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<% self.title = "Address" %>
<% @body_id = 'Address' %>
<div id="china-checkout">
  <div class="container" >
    <form id="checkout-form" method="post" action="<%= spree.china_pay_path %>" accept-charset="UTF-8">
    <div class="china-address">
      <input name="promoter_email" value="<%= @promoter_email %>" hidden="hidden" />
      <input name="sku" value="<%= @sku %>" hidden="hidden" />
      <input name="num" value="<%= @num %>" hidden="hidden" />
      <div class="china-form">
        <div class="china-label">收件人*</div>
        <div class="china-input">
          <input name="name" placeholder="姓名" required />
        </div>
      </div>
      <div class="china-form">
        <div class="china-label">联系方式*</div>
        <div class="china-input">
          <input id="mobile" name="mobile" placeholder="手机号" style="width:70%" type="tel" pattern=".{11,11}" required />
        </div>
      </div>
      <div data-toggle="distpicker">
        <div class="china-form">
          <div class="china-label">省*</div>
          <div class="china-input">
            <select placeholder="姓名" name="province" required></select>
          </div>
        </div>
        <div class="china-form">
          <div class="china-label">市*</div>
          <div class="china-input">
            <select placeholder="姓名" name="city" required></select>
          </div>
        </div>
        <div class="china-form">
          <div class="china-label">区</div>
          <div class="china-input">
            <select placeholder="姓名" name="sub"></select>
          </div>
        </div>
      </div>
      <div class="china-form">
        <div class="china-label">详细地址*</div>
        <div class="china-input">
          <textarea placeholder="如楼层 门牌号" name="street" required></textarea>
        </div>
      </div>
      <div class="next-step" data-hook="buttons">
        <%= submit_tag '下一步' %>
      </div>
    </div>
    </form>
  </div>
</div>

<script>
  var mobile = document.getElementById("mobile"); // form has to have ID: <form id="formID">

  var form = document.getElementById("checkout-form"); // form has to have ID: <form id="formID">
  var formDisabled = false
  form.noValidate = true;
  form.addEventListener('submit', function(event) { // listen for form submitting
    if (formDisabled) return
    if (!event.target.checkValidity()) {
      if (mobile.value.length !== 11) {
        window.alert('请输入11位手机号码*')
      } else {
        window.alert('请填写所有必填栏*')
      }
      event.preventDefault(); // dismiss the default functionality
      return
    }
    formDisabled = true
  }, false);

</script>
