<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<% self.title = "Login" %>
<% @body_id = 'Login' %>
<div>
  <div class="container" >
    <div id="errorMessageDiv" style="display:none;">请输入11位手机号码*</div>

    <%= form_for @order, url: china_checkout_path, html: { }  do |form| %>
    <div class="row form-content">
      <div class="col-sm-6" >
        <div class="" data-hook>
          <input name="id" value="<%= @order.id %>" hidden="hidden" />
          <div class="form-title">
            收货人手机号码：<br/>
            <text style="font-size:14px">+86 </text><input name="mobile" style="width:70%" type="tel" pattern=".{11,11}" required></input>*
          </div>
        </div>
      </div>
    </div>

    <div class="" data-hook="buttons">
      <%= submit_tag Spree.t(:save_and_continue), :class => 'button' %>
    </div>
    <% end %>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
  var form = document.getElementById('edit_order_' + "<%= @order.id %>"); // form has to have ID: <form id="formID">
  form.noValidate = true;
  form.addEventListener('submit', function(event) { // listen for form submitting
          if (!event.target.checkValidity()) {
              event.preventDefault(); // dismiss the default functionality
              document.getElementById('errorMessageDiv').style.display = 'block'; // error message
          }
      }, false);
</script>
