<div id="about_pages">
  <div class="container page">
    <div class="main-content col-md-9 col-sm-9">
      <h1 class="title"><%= Spree.t(:"faq.frequently") %></h1>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q1") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a1_1") %></p>
        <ol type="i" style="font-size: 14px">
          <li><%= Spree.t(:"faq.a1_2_1") %></li>
          <li><%= Spree.t(:"faq.a1_2_2") %></li>
          <li><%= Spree.t(:"faq.a1_2_3") %></li>
          <li><%= Spree.t(:"faq.a1_2_4") %></li>
          <li><%= Spree.t(:"faq.a1_2_5") %></li>
          <li><%= Spree.t(:"faq.a1_2_6") %></li>
        </ol>
        <p><%= Spree.t(:"faq.a1_3") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q2") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a2") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q3") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a3") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q4") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a4") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q5") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a5_1") %><a href="https://coolchoice.com/ingredient" target="_blank" style="text-decoration: underline; color: #00b9ee"><%= Spree.t(:"faq.a5_2") %></a><%= Spree.t(:"faq.a5_3") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q6") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a6") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q7") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a7") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q8") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a8_1") %></p>
        <p><%= Spree.t(:"faq.a8_2") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q9") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a9") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q10") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a10") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q11") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a11") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q12") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a12") %></p>
      </div>
      <div class="unit closed">
        <h2 class="bg-line"><span class="title-line"><%= Spree.t(:"faq.q13") %></span>
          <div class="down-icon"></div>
        </h2>
        <p><%= Spree.t(:"faq.a13_1") %> <%= Spree.t(:"faq.a13_2") %> <%= Spree.t(:"faq.a13_3") %> <span style="text-decoration: underline; color: #00b9ee"><%= Spree.t(:"faq.a13_4") %></span><%= Spree.t(:"faq.a13_5") %></p>
      </div>
      <script>
        $(document).ready(function() {
          $('.bg-line').on('click', function() {
            $(this).parent('.unit').toggleClass('closed');
          });
        });
      </script>
    </div>
  </div>
</div>
