<div id="article">
  <div class="container">
    <div class="title-img">
      <div class="line"></div>
      <%= image_tag("tandc/icon-term@2x.png") %>
      <div class="line"></div>
    </div>
    <div class="title"><%= Spree.t(:'tANDc.title') %></div>
    <div class="up-para"><%= Spree.t(:'tANDc.please') %></div>
    <div class="li">
      <div class="li-title"><%= Spree.t(:'tANDc.p1') %></div>
      <p><%= Spree.t(:'tANDc.p1_2') %></p>
    </div>
    <div class="up-para"><%= Spree.t(:'tANDc.these') %></div>
  </div>
</div>