<div id="article">
  <div class="container">
    <div class="title-img">
      <div class="line"></div>
      <%= image_tag("tandc/icon-term@2x.png") %>
      <div class="line"></div>
    </div>
    <div class="title"><%= Spree.t(:'tANDc.title') %></div>
    <div class="up-para"><%= Spree.t(:'tANDc.please') %></div>
    <div class="li">
      <p><%= Spree.t(:'tANDc.p1') %></p>
      <p><%= Spree.t(:'tANDc.p2') %></p>
      <p><%= Spree.t(:'tANDc.p3') %></p>
      <p><%= Spree.t(:'tANDc.p4') %></p>
      <p><%= Spree.t(:'tANDc.p5') %></p>
      <p><%= Spree.t(:'tANDc.p6') %></p>
      <p><%= Spree.t(:'tANDc.p7') %></p>
      <p><%= Spree.t(:'tANDc.p8') %></p>
      <p><%= Spree.t(:'tANDc.p9') %></p>
      <p><%= Spree.t(:'tANDc.p10_1') %></p>
      <p><%= Spree.t(:'tANDc.p10_2') %></p>
      <p><%= Spree.t(:'tANDc.p11_1') %></p>
      <p><%= Spree.t(:'tANDc.p11_2') %></p>
      <p><%= Spree.t(:'tANDc.p12') %></p>
      <p><%= Spree.t(:'tANDc.p13') %></p>
      <p><%= Spree.t(:'tANDc.p14') %></p>
      <p><%= Spree.t(:'tANDc.p15') %></p>
      <p><%= Spree.t(:'tANDc.p16') %></p>
      <p><%= Spree.t(:'tANDc.p17') %></p>
      <p><%= Spree.t(:'tANDc.p18') %></p>
      <p><%= Spree.t(:'tANDc.p19') %></p>
    </div>
    <div class="up-para"><%= Spree.t(:'tANDc.these') %></div>
  </div>
  <%= render partial: 'spree/shared/footer' %>

</div>
