<div id="account">
  <div class="container">
    <div class="border-table account"  data-hook="account_summary">
      <table>
        <thead>
          <tr>
            <th><%= accurate_title %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="email"><%= Spree.t(:email) %></div>
              <div class="user-email"><%= @user.email %></div>
              <div class="edit">
                <a class="button" href="<%= spree.edit_account_path %>"><%= Spree.t(:edit) %></a>
              </div>
              <div class="facebook">
                <div id="social-signin-links">
                  <% if (!spree_current_user || !spree_current_user.user_authentications) && Spree::AuthenticationMethod.active_authentication_methods? %>
                    <h4><%= Spree.t(:sign_in_through_one_of_these_services) %></h4>
                  <% end %>
                  <% Spree::AuthenticationMethod.available_for(@spree_user).each do |method| %>
                    <% if method.active %>
                      <a class="button" href="<%= spree.spree_user_omniauth_authorize_url(provider: method.provider) %>" id="<%= method.provider.to_url %>" title="<%= Spree.t(:sign_in_with, provider: method.provider) %>">
                        <%= content_tag(:i, '', class: "icon-spree-#{method.provider.to_url}") %>
                        Add Facebook to sign in
                      </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-title"><%= Spree.t(:my_orders) %></div>
    <div class="border-table order" data-hook="account_my_orders">
      <% if @orders.present? %>
        <table>
          <colgroup>
            <col style="width: 15%;" />
            <col style="width: 25%;" />
            <col style="width: 15%;" />
            <col style="width: 15%;" />
            <col style="width: 15%;" />
            <col style="width: 15%;" />
          </colgroup>
          <thead>
          <tr>
            <th><%= Spree::Order.human_attribute_name(:number) %></th>
            <th><%= Spree.t(:date) %></th>
            <th><%= Spree.t(:status) %></th>
            <th><%= Spree.t(:payment_state) %></th>
            <th><%= Spree.t(:shipment_state) %></th>
            <th><%= Spree.t(:total) %></th>
          </tr>
          </thead>
          <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= link_to order.number, order_url(order) %></td>
              <td><%= l order.completed_at.to_date %></td>
              <td><%= Spree.t("order_state.#{order.state}").titleize %></td>
              <td><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
              <td><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
              <td><%= order.display_total %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info"><%= Spree.t(:you_have_no_orders_yet) %></div>
      <% end %>

    </div>
  </div>
</div>
