<div id="account">
  <div class="container">
    <div class="row">

      <div class="form-title"><%= Spree.t(:my_orders) %></div>
      <div class="border-table order hidden-xs" data-hook="account_my_orders">
        <% if @orders.present? %>
          <table>
            <colgroup>
              <col style="width: 15%;" />
              <col style="width: 25%;" />
              <col style="width: 15%;" />
              <col style="width: 15%;" />
              <col style="width: 15%;" />
              <col style="width: 15%;" />
            </colgroup>
            <thead>
            <tr>
              <th><%= Spree::Order.human_attribute_name(:number) %></th>
              <th><%= Spree.t(:date) %></th>
              <th><%= Spree.t(:status) %></th>
              <th><%= Spree.t(:payment_state) %></th>
              <th><%= Spree.t(:shipment_state) %></th>
              <th><%= Spree.t(:total) %></th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.number, order_url(order) %></td>
                <td><%= l order.completed_at.to_date %></td>
                <td><%= Spree.t("order_state.#{order.state}").titleize %></td>
                <td><%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %></td>
                <td><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
                <td><%= order.display_total %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <div class="alert"><%= Spree.t(:you_have_no_orders_yet) %></div>
        <% end %>
      </div>
      <div class="visible-xs-block xs-border-table">
        <% if @orders.present? %>
        <% @orders.each do |order| %>
        <div class="order clearfix">
          <div class="order-num clearfix">
            <div class="col-1"><%= link_to order.number, order_url(order) %></div>
            <div class="col-2 text-right"><%= l order.completed_at.to_date %></div>
          </div>
          <div class="order-details clearfix"">
            <div class="col-1">
              <%= Spree.t(:status) %><br>
              <%= Spree.t(:payment_state) %><br>
              <%= Spree.t(:shipment_state) %><br>
              <%= Spree.t(:total) %><br>
            </div>
            <div class="col-2 text-right">
              <%= Spree.t("order_state.#{order.state}").titleize %><br>
              <%= Spree.t("payment_states.#{order.payment_state}").titleize if order.payment_state %><br>
              <%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %><br>
              <%= order.display_total %><br>
            </div>
          </div>
        </div>
        <% end %>
        <% else %>
          <div class="alert"><%= Spree.t(:you_have_no_orders_yet) %></div>
        <% end %>
      </div>
    </div>

  </div>
  <%= render partial: 'spree/shared/footer' %>
</div>
