<div id="footer">
  <div class="container">
    <div class="right-part">
      <div class="social">
        <a href="https://www.facebook.com/MyCoolChoice" target="_blank" class="facebook"></a>
        <a href="https://twitter.com/mycoolchoice" target="_blank" class="twitter"></a>
        <a href="http://instagram.com/mycoolchoice" target="_blank" class="instagram"></a>
        <a href="mailto:help@coolchoice.com" target="_blank" class="email"></a>
      </div>
      <div class="links">
        <a href="<%= spree.faq_path %>">FAQ</a>
        <a href="<%= spree.return_path %>"><%= Spree.t('return.name') %></a>
        <a href="<%= spree.privacy_path %>"><%= Spree.t('privacy.name') %></a>
        <a href="<%= spree.terms_path %>"><%= Spree.t('tANDc.name') %></a>
        <a class="jobs"><%= Spree.t('footer_bar.contact') %></a>
      </div>
      <div class="job-frame">
        <div class="title"><%= Spree.t('footer_bar.contact_us') %></div>
        <div class="line"><%= Spree.t('footer_bar.email_us') %>: <a href="mailto:help@coolchoice.com">help@coolchoice.com</a></div>
        <div class="line"><%= Spree.t('footer_bar.call_us') %>: <b>+1 (714) 871-1668</b></div>
        <div class="remove glyphicon glyphicon-remove"></div>
      </div>
    </div>
    <div class="copyright">© 2016 Cool Choice Inc., All rights reserved</div>

  </div>
</div>
<script>
  (function() {
    // $('#footer .language').on('click', function(event) {
    //   var el = this;
    //   $(el).removeClass('closed');
    //   $(document.body).one('click', function() {
    //     $(el).addClass('closed');
    //   });
    //   event.stopPropagation();
    // });

    $('#footer .jobs').on('click', function() {
      $('#footer .job-frame').show();
    });
    $('#footer .remove').on('click', function() {
      $('#footer .job-frame').hide();
    });

  })();
</script>
