<div id="coolchoice-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <% if false %>
  <div class="container">
    <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
  </div>
  <% end %>
</div>

<% if false %>
<header id="header">
  <div class="container">
    <a href="/" class="logo">
      <img src="/assets/home/logo@2x.png">
    </a>
    <nav class="nav">
      <a href="/gift"><%= Spree.t(:"header.gift") %></a>
      <a href="/ingredient"><%= Spree.t(:"header.ingredient") %></a>
      <a href="/about"><%= Spree.t(:"header.about") %></a>
      <a href="/login">
        <img src="/assets/home/icon-avatar@2x.png" class="avatar">
      </a>
      <a href="/cart">
        <img src="/assets/home/button-cart@2x.png" class="cart">
      </a>
    </nav>
  </div>
</header>
<% end %>
