<div id="fblogin" class="nav-bar">
  <% if current_spree_user %>
  <%= link_to image_tag('home/icon_avatar@2x.png', {:style => "cursor: pointer; width: 30px"}), spree.account_path %>
  <%= link_to Spree.t(:logout), spree.logout_path %>
  <% else %>
  <a v-on:click="action_fbLogIn"><%= Spree.t(:signin) %></a>
  <div id="fbLogInWindow">
    <img v-on:click="action_closeFBLogIn" class="fbclose" width="22" height="22" src="<%= asset_path 'checkout/button-delete@2x.png' %>"/>
    <div class='fbtitle'><%= Spree.t(:signin) %></div>
    <div class='fbcaption'><a href="<%= "#{Rails.application.config.webhost}/users/auth/facebook" %>"><%= Spree.t(:sign_in_through_one_of_these_services) %> Facebook</a></div>
  </div>
  <% end %>
  <% if !(current_order.special_instructions != nil || current_order.line_items.first.variant.sku.slice(3,1) == 'd' rescue false) %>
  <a style="cursor: pointer; position: relative; text-decoration: none" href="<%= spree.cart_path %>">
    <%= image_tag 'home/button_cart@2x.png', {:style => "width: 25px"} %>
    <% count = current_order.line_items.inject(0){|s, x| s+=x.quantity;s} rescue 0 ; if count != 0 && current_order.special_instructions == nil %>
    <span class="cart-num"><%= count %></span>
  <% end %>
  </a>
  <%#= spree_current_user %>
  <% end %>
  <% if SpreeI18n::Config.available_locales.many? %>
  <a href="<%= spree.localization_path %>"><%= image_tag('home/icon_earth@2x.png', {:style => "width: 32px"}) %></a>
  <% end %>
  <div id='dropMenu'><%= image_tag 'logo/button_menu@2x.png' %></div>
</div>

<script>
  var vmFB = new Vue({
    el: '#fblogin',
    data: {
      loginVisible: false,
    },
    watch: {
      loginVisible: function() {
        this.renderFBLogIn()
      }
    },
    methods: {
      action_fbLogIn: function() {
        this.loginVisible = true
      },
      renderFBLogIn: function() {
        $('#fbLogInWindow')[0].style.display = this.loginVisible ? "block" : "none"
      },
      action_closeFBLogIn: function() {
        this.loginVisible = false
      }
    }
  })
</script>
