<div class="navbar-collapse collapse nav-bar">
  <%= link_to Spree.t(:'head_bar.WHY_COOL_CHOICE'), spree.why_path %>
  <%= link_to Spree.t(:'head_bar.GIFT'), spree.gift_path %>
  <%= link_to Spree.t(:'head_bar.INGREDIENTS'), spree.ingredient_path %>
  <% if current_spree_user %>
  <%= link_to image_tag('home/icon_avatar@2x.png', {:style => "cursor: pointer; width: 30px"}), spree.account_path %>
  <%= link_to Spree.t(:logout), spree.logout_path %>
  <% else %>
  <%= link_to Spree.t(:signin), spree.login_path %>
  <% end %>
  <% if !(current_order.special_instructions != nil || current_order.line_items.first.variant.sku.slice(3,1) == 'd' rescue false) %>
  <a style="cursor: pointer; position: relative; text-decoration: none" href="<%= spree.cart_path %>">
    <%= image_tag 'home/button_cart@2x.png', {:style => "width: 25px"} %>
    <% count = current_order.line_items.inject(0){|s, x| s+=x.quantity;s} rescue 0 ; if count != 0 && current_order.special_instructions == nil %>
    <span class="cart-num"><%= count %></span>
  <% end %>
  </a>
  <%#= spree_current_user %>
  <% end %>
  <% if SpreeI18n::Config.available_locales.many? %>
  <a href="<%= spree.localization_path %>"><%= image_tag('home/icon_earth@2x.png', {:style => "width: 32px"}) %></a>
  <% end %>
</div>
<a class="navbar-toggle" data-toggle="collapse" data-target="#coolchoice-header .nav-bar">
  <i class="glyphicon glyphicon-menu-hamburger"></i>
</a>
