<% if current_order == nil%>
  <% current_order(create_order_if_necessary: true) %>
<% elsif current_order.special_instructions%>
  <% current_order.empty!  %>
  <% current_order.update_attributes({:special_instructions => nil})%>
<% else %>
<% sku = current_order.line_items.first.sku rescue nil %>
  <% if sku && sku.slice(3, 1) == 'd' %>
    <% current_order.empty! %>
  <% end %>
<% end %>

<style type="text/css" media="screen">
   @font-face { font-family: Face; src: url(<%= URI::parse(image_url("home/KomikaTitle-Paint.ttf")).path.html_safe %>); }
   .dots{
     position: absolute;
     bottom: -25px;
     display: block;
     width: 100%;
     padding: 0;
     margin: 0;
     list-style: none;
     text-align: center;
   }
   .dots li button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background-color: white;
   }
</style>
<% self.title = "Home" %>
<% @body_id = 'home' %>
<div id="cool-choice-home"  v-cloak>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <script type="text/javascript" src="slick/slick.min.js"></script>

  <div class="carousel" style="margin:0">
  <div class="banner" style="background: url(<%= URI::parse(image_url("home/bj1.jpg")).path.html_safe %>) center no-repeat;">
  <div class="container">
        <%= image_tag("home/page-1@2x.png", class: "logo") %>
        <div class="title"><%= Spree.t(:"homepage.title_proud") %></div>
        <div class="sub-title"><%= Spree.t(:"homepage.title_introduce") %></div>
        <div class="free">
            <div class="circle"></div><%= Spree.t(:"homepage.title_free") %>
            <div class="circle"></div><br />
            <div class="circle"></div><%= Spree.t(:"homepage.title_worldwide") %>
            <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="banner" style="background: url(<%= URI::parse(image_url("home/bj2.jpg")).path.html_safe %>) center no-repeat;width:1440px;height:500px;">
      <div class="container" id="cart">
        <div class="title" style="margin-top: 200px"><%= Spree.t(:"homepage.page2_title") %></div>
        <div class="sub-title"><%= Spree.t(:"homepage.page2_title2") %></div>
        <%= link_to Spree.t(:give_as_a_gift), gift_path, class: 'roundButton b1', style: 'margin-top:30px' %>
      </div>
    </div>
    <div class="banner" style="background: url(<%= URI::parse(image_url("home/bj3.jpg")).path.html_safe %>) center no-repeat;width:1440px;height:500px;">
      <div class="container" style="position: relative; left: 120px;padding-top:120px">
        <div class="title" style="font-family: Face; font-size: 56px"><%= Spree.t(:"homepage.page3_title") %></div>
        <div class="sub-title" style="font-family: Face; font-size: 34px"><%= Spree.t(:"homepage.page3_title2") %></div>
        <div class="sub-title" style="font-size: 20px;margin-top:50px"><%= Spree.t(:"homepage.page3_title31") %><%= image_tag "home/kerry-white.png", {:style=>"display: inline-block;margin:0 15px"} %><%= Spree.t(:"homepage.page3_title32") %></div>
      </div>
    </div>
  </div>
  <div id="dotsHere" style="position: relative; top: -35px"></div>
  <div id="section-1" class="section-1">
    <div class="container">
      <div class="title"><%= Spree.t(:"homepage.content_title_magic") %></div>
      <br>
      <div class="sub-title">
        <div class="line"></div><%= Spree.t(:"homepage.content_title_choose") %>
        <div class="line"></div>
      </div>
      <div class="content clearfix">
        <% function_list = ['Anti-Aging', 'Beauty', 'Brain Care', 'Digestive Care', 'Energy', 'Eye Care', 'Heart Care', 'Immune Support', 'Joint Care', 'Liver Care', 'Lung Care', 'Men\'s Vitality', 'Sleep Support', 'Stress Management'].map { |e| e.sub('\'', '').sub(/\s/, '_') } %>
        <% function_list.each_with_index do |function, i| %>
          <div class="choose-box <%= function %>">
            <label for="<%= function %>" class="choose-label"><%= image_tag('home/icon-'.concat(function).concat('@2x.png'), {"class"=> "img", "id" => "image_#{i+1}", "v-on:click" => "action_select(#{i+1})"}) %>
              <div class="text" id="text_<%= i+1 %>">
                <%= Spree.t('homepage.content_function_' + function) %>
              </div>
            </label>
            <div class="information">i</div>
            <input type="checkbox" id="<%= function %>" value="<%= function %>" v-model="result" class="checkbox cb_<%= i+1 %>"/>
          </div>
        <% end %>
        <div class="choose-box wish">
          <label for="wish_box" class="choose-label" @click="open_wish"><%= image_tag("home/icon-wish@2x.png", class: "img") %>
            <div class="text"><%= Spree.t(:"homepage.content_function_wish") %></div>
          </label>
          <input type="checkbox" id="wish_box" value="wish" class="checkbox" style="display: none" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
        <div class="para col-xs-4">
          <div class="img"><%= image_tag("home/icon-simply.png") %></div>
          <div class="title"><%= Spree.t(:"homepage.cool_simply") %></div>
          <p><%= Spree.t(:"homepage.cool_simply_line") %><br><%= Spree.t(:"homepage.cool_simply_line_2") %></p>
          <a style="display:block" href="#section-1">
            <div class="more">
              <%= Spree.t(:"homepage.personalize_now") %><%= image_tag("ingredient/icon-arrow@2x.png") %>
            </div>
          </a>
        </div>
        <div class="para col-xs-4">
          <div class="img"><%= image_tag("home/icon-care.png") %></div>
          <div class="title"><%= Spree.t(:"homepage.cool_care") %></div>
          <p><%= Spree.t(:"homepage.cool_care_line") %><br><%= Spree.t(:"homepage.cool_care_line_2") %></p>
          <a style="display:block" href="<%= spree.gift_path %>">
            <div class="more">
              <%= Spree.t(:"homepage.give_as_a_gift") %><%= image_tag("ingredient/icon-arrow@2x.png") %>
            </div>
          </a>
        </div>
        <div class="para col-xs-4">
          <div class="img"><%= image_tag("home/icon-ingredients.png") %></div>
          <div class="title"><%= Spree.t(:"homepage.cool_ingredients") %></div>
          <p><%= Spree.t(:"homepage.cool_ingredients_line") %><br><%= Spree.t(:"homepage.cool_ingredients_line_2") %></p>
          <a style="display:block" href="<%= spree.ingredient_path %>">
            <div class="more">
              <%= Spree.t(:"homepage.learn_more") %><%= image_tag("ingredient/icon-arrow@2x.png") %>
            </div>
          </a>
        </div>
    </div>
  </div>
  <div class="section-3">
    <%= image_tag("home/group-20@2x.png") %>
  </div>
  <div class="section-4" v-if="result.length">
    <div class="container"><% if false %><%= image_tag("home/product@2x.png", class: "bar") %><% end %>
      <div class="func col-sm-3">
        <div class="title"><%= Spree.t(:"homepage.bar_choose") %></div>
        <div v-for="n in 3" :class="[result[n] ? 'bg-'.concat(result[n], ' hover') : '']" class="box"><%= image_tag("home/icon_delet@2x.png", {class: "delete", "@click"=>"result.splice(n, 1)"}) %></div>
      </div>
      <div class="qty col-sm-2">
        <div class="title"><%= Spree.t(:"homepage.bar_qty") %></div>
        <div class="select"><span @click="num &gt; 1 ? num-- : ''" class="math">-</span>
          <select v-model="type" class="type">
            <!-- <option value="day">{{ num }} <%= Spree.t(:"homepage.bar_day") %></option> -->
            <option value="week">{{ num + ' ' + types[0] }}</option>
            <option value="month">{{ num + ' ' + types[1] }}</option>
          </select>
          <span @click="num++" class="math"> +</span>
        </div>
        <!-- <div v-if="type == 'day'" class="detail"><%= Spree.t(:"homepage.bar_pack_1") %></div> -->
        <div v-if="type == 'week'" class="detail"><%= Spree.t(:"homepage.bar_pack_2") %></div>
        <div v-if="type == 'month'" class="detail"><%= Spree.t(:"homepage.bar_pack_3") %></div>
      </div>
      <div class="total col-sm-2">
        <div class="title"><%= Spree.t(:"homepage.bar_total") %></div>
        <div class="usd"><%= Spree.t(:"homepage.bar_sign") %>{{ sum }} <%= Spree.t(:"homepage.bar_unit") %></div>
      </div>
      <div class="cart" v-if="result.length">
        <a v-on:click='action_addToCart' style="border: 1px solid #fff; background: transparent" class="button"><%= Spree.t(:"homepage.bar_cart") %></a>
        <a v-on:click='action_checkout' class="button"><%= Spree.t(:"homepage.bar_checkout") %></a>
      </div>
      <div @click="action_trial" class="trail" v-if="result.length">
        <div class="line">
          <span style="font-weight: 500"><%= Spree.t(:"homepage.trial_pack") %></span>
        </div>
        <div class="line_below">
          <span style="font-weight: 100; font-size: 10px"><%= Spree.t(:"homepage.trial_pack_desc") %></span>
        </div>
      </div>
    </div>
  </div>
  <!-- popup wish list -->
  <div class="wish-lay">
    <div class="wish-list">
      <form id="wish-list" action="/index/wish" accept-charset="UTF-8" method="POST" novalidate="novalidate">
        <div class="title"><%= Spree.t(:"homepage.your_wish") %></div>
        <div class="sub-title"><%= Spree.t(:"homepage.we_are") %></div>
        <textarea name="wish"></textarea>
        <a class="close" @click="close_wish"><%= image_tag("ingredient/button-off@2x.png") %></a>
        <button type="submit" class="button"><%= Spree.t(:"homepage.submit") %></button>
      </form>
    </div>
  </div>
</div>

<!-- popup ingredient details -->
<div class="more-overlay">
  <div class="close"></div>
  <% url_list = ['http://extramel.com/', 'http://www.gelita.com/en/products/verisol', 'http://cognizin.com/', nil, nil, 'http://www.lutemax2020.com/', nil, 'http://nutriscienceusa.com/beta-glucan/', 'http://greengrownglucosamine.com/', nil, nil, nil, nil, 'http://www.suntheanine.com/
'] %>
  <% function_list.each_with_index do |function, index| %>
    <div id="<%= 'ingredient_' + function %>" class="view">
      <a class="close"><%= image_tag("ingredient/button-off@2x.png") %></a>
      <img src="<%= asset_path 'home/icon-'.concat(function).concat('@2x.png') %>" class="icon">
      <div class="title"><%= Spree.t('ingredient.function_' + function) %></div>
      <div class="sub-title"><%= Spree.t('ingredient.help_' + function) %></div>
      <p><%= Spree.t('ingredient.detail_' + function) %></p>
      <p><%= Spree.t('ingredient.contains_' + function) %></p>
      <ul>
        <li><%= Spree.t('ingredient.more1_' + function) %></li>
        <li><%= Spree.t('ingredient.more2_' + function) %></li>
        <li><%= Spree.t('ingredient.more3_' + function) %></li>
        <% if function == 'Lung_Care' %>
        <li><%= Spree.t('ingredient.more4_' + function) %></li>
        <% end %>
      </ul>
      <% if url_list[index] %>
        <p><a href="<%= url_list[index] %>" target="_blank"><%= Spree.t(:learn_more) %></a></p>
      <% end %>
      <% if function == 'Sleep_Support' %>
        <p style="font-size: 12px"><%= Spree.t('ingredient.caution1_' + function) %><br><%= Spree.t('ingredient.caution2_' + function) %></p>
      <% end %>
      <p style="font-size: 10px; margin-top: 0"><%= Spree.t('ingredient.warning1') %><br><%= Spree.t('ingredient.warning2') %></p>
    </div>
  <% end %>
</div>

<script>
  //ingredient popup
  $("#section-1 .information").click(function() {
    $("body").append($(".more-overlay"))
    $("body").css("overflow","hidden")

    var id = $(this).parent().attr("class").split(' ')[1]
    $(".more-overlay>.close").show()
    $("#ingredient_" + id).show()
    $("body>.more-overlay").show()
    $(".more-overlay>.close").height(document.getElementById("ingredient_" + id).offsetHeight)
  })
  $(".more-overlay .close").click(function() {
    $(".more-overlay").hide()
    $(".more-overlay>div").hide()
    $(".function>.inner").removeClass('active')
    $("body").css("overflow","auto")
  })

  var vm = new Vue({
    el: '#cool-choice-home',
    data: {
      num: 1,
      type: 'month',
      sum: 39.99,
      result: [],
      processing: false,
      order_number: "<%= current_order.number %>",
      order_token: "<%= current_order.guest_token %>",
      mutallyExclusives: {
        5: {
          on_image: "<%= image_url("home/icon-Energy@2x.png") %>",
          on_color: "#62c0ef",
          off_image: "<%= image_url("home/icon_energy_grey@2x.png") %>",
          off_color: "#e4e4e4",
        },
        13: {
          on_image: "<%= image_url("home/icon-Sleep_Support@2x.png") %>",
          on_color: "#7fadf0",
          off_image: "<%= image_url("home/icon_sleep_grey@2x.png") %>",
          off_color: "#e4e4e4",
        },
      },
      disabledFeatures: [],
      theSKU: ""
    },
    computed: {
      types: function() {
        return this.num > 1 ? ['<%= Spree.t(:"homepage.bar_weeks") %>', '<%= Spree.t(:"homepage.bar_months") %>'] : ['<%= Spree.t(:"homepage.bar_week") %>', '<%= Spree.t(:"homepage.bar_month") %>']
      },
      sum: function() {
        var price = {
          day: 3.99,
          week: 13.99,
          month: 39.99
        }
        return (price[this.type] * this.num).toFixed(2)
      },
      sku: function() {
        var hash = ["", "Anti-Aging", "Beauty", "Brain_Care", "Digestive_Care", "Energy", "Eye_Care", "Heart_Care", "Immune_Support", "Joint_Care", "Liver_Care", "Lung_Care", "Mens_Vitality", "Sleep_Support", "Stress_Management"]

        var num = this.result.slice().sort().map(function (x) { var index = hash.indexOf(x); return index < 10 ? '0' + index : index }).join('')
        this.theSKU = 'ccs' + this.type[0] + this.result.length + 'f'+ new Array(6 - num.length + 1).join('0') + num
        return this.theSKU
      },
      keys: function() {
        return Object.keys(this.mutallyExclusives).map(function(i){return +i})
      }
    },

    watch: {
      theSKU: function(value, oldValue) {
        var a1 = this.features()
        var a2 = this.keys.slice(0)

        var flag = true
        for (var i=0; i<a1.length; i++) {
          var t = a1[i]
          var index = a2.indexOf(t)
          if (index > -1) {
            a2.splice(index, 1)
            this.disabledFeatures = a2
            flag = false
            break
          }
        }
        if (flag) {
          this.disabledFeatures = []
        }
      },
      disabledFeatures: function() {
        var that = this
        this.keys.forEach(function(item){
          if (that.disabledFeatures.includes(item)) {
            that.disableItem(item)
          } else {
            that.enableItem(item)
          }
        })
      },
      'result': function(val) {
        this.check_3_box(val)
        if (this.result.length < 3) {
          this.sku
        }
      }
    },
    methods: {
      close_wish: function() {
        $(".wish-lay").hide()
      },
      open_wish: function() {
        $(".wish-lay").show()
      },
      disableItem: function(index) {
        document.getElementById("image_"+index).src = this.mutallyExclusives[index].off_image
        document.getElementById("text_"+index).style.color = this.mutallyExclusives[index].off_color
        document.getElementsByClassName("cb_"+index)[0].disabled = true

      },
      enableItem: function(index) {
        document.getElementById("image_"+index).src = this.mutallyExclusives[index].on_image
        document.getElementById("text_"+index).style.color = this.mutallyExclusives[index].on_color
        document.getElementsByClassName("cb_"+index)[0].disabled = false
      },
      features: function(s) {
        return [+this.sku.slice(6,8), +this.sku.slice(8,10), +this.sku.slice(10,12)]
      },
      check_3_box: function() {
        var box = document.getElementsByClassName('checkbox')
        if(this.result.length < 3) {
          for (var i = 0; i < box.length; i++) {
            if (!this.disabledFeatures.includes(i+1)) {
              box[i].disabled=false
            }
          }
        }
        else {
          for (var i = 0; i < box.length; i++) {
            if (!box[i].checked) {
              box[i].disabled=true
            }
          }
        }
      },
      validate: function(event) {
        if (this.processing) {
          return false
        }
        return this.sku.slice(6) != '000000'
      },
      action_addToCart: function(event) {
        if (this.validate()) {
          this.processing = true
          var that = this
          $.ajax({
            type: 'POST',
            url: '/api/v1/orders/' + this.order_number + '/line_items?line_item[sku]=' + this.sku + '&line_item[quantity]=' + this.num + '&order_token=' + this.order_token,
            success: function(data) {
              window.location.href = '<%= cart_path %>'
            },
            complete: function() {
              console.log(that.processing)
              that.processing = false
            }
          })
        }
      },
      action_checkout: function(event) {
        if (this.validate()) {
          this.processing = true
          var that = this
          $.ajax({
            type: 'POST',
            url: '/api/v1/orders/' + this.order_number + '/line_items?line_item[sku]=' + this.sku + '&line_item[quantity]=' + this.num + '&order_token=' + this.order_token,
            success: function(data) {
              window.location.href = '<%= checkout_path %>'
            },
            complete: function() {
              that.processing = false
            }
          })
        }
      },
      action_trial: function(event) {
        if (this.validate()) {
          this.processing = true
          var that = this
          var sku = this.sku
          sku = sku.slice(0, 3) + 'd' + sku.slice(4)
          $.ajax({
            type: 'PUT',
            url: '/api/v1/orders/' + this.order_number + '/empty' + '?order_token=' + this.order_token,
            success: function(data) {
              $.ajax({
                type: 'POST',
                url: '/api/v1/orders/' + that.order_number + '/line_items?line_item[sku]=' + sku + '&line_item[quantity]=' + that.num + '&order_token=' + that.order_token,
                success: function(data) {
                  window.location.href = '<%= checkout_path %>'
                },
                complete: function() {
                  that.processing = false
                }
              })
            }
          })
        }
      },
      action_select: function(index) {
        if (this.disabledFeatures.includes(index)) {
          alert("<%= Spree.t(:alert_mutual_exclusive) %>")
        }
      }
    },
    ready: function() {
      $('.carousel').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        autoplay: true,
        autoplaySpeed: 2000,
        appendDots: "#dotsHere",
        arrows: false
      });
    }
  })
</script>
