<% if current_order == nil%>
<% current_order(create_order_if_necessary: true) %>
<% elsif current_order.special_instructions%>
<% current_order.empty!  %>
<% current_order.update_attributes({:special_instructions => nil})%>
<% end %>

<% if false %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>
<% end %>

<% if false %>
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>
<% end %>

<% @body_id = 'home' %>
<div id="cool-choice-home"  v-cloak>
  <div class="banner">
    <div class="container"><img src="/assets/home/page-1@2x.png" class="logo">
      <div class="title"><%= Spree.t(:"homepage.title_proud") %></div>
      <div class="sub-title"><%= Spree.t(:"homepage.title_introduce") %></div>
      <div class="free">
        <div class="circle"></div><%= Spree.t(:"homepage.title_free") %>
        <div class="circle"></div><br />
        <div class="circle"></div><%= Spree.t(:"homepage.title_worldwide") %>
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="section-1">
    <div class="container">
      <div class="title"><%= Spree.t(:"homepage.content_title_magic") %></div>
      <div class="sub-title">
        <div class="line"></div><%= Spree.t(:"homepage.content_title_choose") %>
        <div class="line"></div>
      </div>
      <div class="content clearfix">
        <% function_list = ['Anti-Aging', 'Beauty', 'Brain Care', 'Digestive Care', 'Energy', 'Eye Care', 'Heart Care', 'Immune Support', 'Joint Care', 'Liver Care', 'Lung Care', 'Men\'s Vitality', 'Sleep Support', 'Stress Management'].map { |e| e.sub('\'', '').sub(/\s/, '_') } %>
        <% function_list.each do |function| %>
          <div class="choose-box <%= function %>">
            <label for="<%= function %>" class="choose-label"><img :src="'/assets/home/icon-'.concat('<%= function %>', '@2x.png')" class="img"/>
              <div class="text">
                <%= Spree.t('homepage.content_function_' + function) %>
              </div>
            </label>
            <input type="checkbox" id="<%= function %>" value="<%= function %>" v-model="result" class="checkbox"/>
          </div>
        <% end %>
        <div class="choose-box wish">
          <label for="wish_box" class="choose-label"><img src="/assets/home/icon-wish@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_wish") %></div>
          </label>
          <input type="checkbox" id="wish_box" value="wish" class="checkbox" style="display: none" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-simply.png"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_simply") %></div>
        <p><%= Spree.t(:"homepage.cool_simply_line") %><br><%= Spree.t(:"homepage.cool_simply_line_2") %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-care.png"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_care") %></div>
        <p><%= Spree.t(:"homepage.cool_care_line") %><br><%= Spree.t(:"homepage.cool_care_line_2") %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-ingredients.png"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_ingredients") %></div>
        <p><%= Spree.t(:"homepage.cool_ingredients_line") %><br><%= Spree.t(:"homepage.cool_ingredients_line_2") %><br><%= Spree.t(:"homepage.cool_ingredients_line_3") %></p>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="container"><img src="/assets/home/product@2x.png" class="bar">
      <div class="func col-sm-3">
        <div class="title"><%= Spree.t(:"homepage.bar_choose") %></div>
        <div v-for="n in 3" :class="{'hover': result[n]}" :style="result[n] ? 'background: url(/assets/home/icon-'.concat(result[n],'@2x.png) center/100% no-repeat') : ''" class="box"><img src="/assets/home/icon_delet@2x.png" @click="result.splice(n, 1)" class="delete"></div>
      </div>
      <div class="qty col-sm-2">
        <div class="title"><%= Spree.t(:"homepage.bar_qty") %></div>
        <div class="select"><span @click="num &gt; 1 ? num-- : ''" class="math">-</span>
          <select v-model="type" class="type">
            <!-- <option value="day">{{ num }} <%= Spree.t(:"homepage.bar_day") %></option> -->
            <option value="week">{{ num + ' ' + types[0] }}</option>
            <option value="month">{{ num + ' ' + types[1] }}</option>
          </select>
          <span @click="num++" class="math"> +</span>
        </div>
        <!-- <div v-if="type == 'day'" class="detail"><%= Spree.t(:"homepage.bar_pack_1") %></div> -->
        <div v-if="type == 'week'" class="detail"><%= Spree.t(:"homepage.bar_pack_2") %></div>
        <div v-if="type == 'month'" class="detail"><%= Spree.t(:"homepage.bar_pack_3") %></div>
      </div>
      <div class="total col-sm-2">
        <div class="title"><%= Spree.t(:"homepage.bar_total") %></div>
        <div class="usd"><%= Spree.t(:"homepage.bar_sign") %>{{ sum }} <%= Spree.t(:"homepage.bar_unit") %></div>
      </div><a v-on:click='action_addToCart' style="border: 1px solid #fff" class="button"><%= Spree.t(:"homepage.bar_cart") %></a><a v-on:click='action_checkout' style="background: #00b9ee" class="button"><%= Spree.t(:"homepage.bar_checkout") %></a>
    </div>
  </div>
</div>

<script>
  var vm = new Vue({
    el: '#cool-choice-home',
    data: {
      num: 1,
      type: 'month',
      sum: 39.99,
      result: [],
      order_number: "<%= current_order.number %>",
      order_token: "<%= current_order.guest_token %>"
    },
    computed: {
      types: function() {
        return this.num > 1 ? ['<%= Spree.t(:"homepage.bar_weeks") %>', '<%= Spree.t(:"homepage.bar_months") %>'] : ['<%= Spree.t(:"homepage.bar_week") %>', '<%= Spree.t(:"homepage.bar_month") %>']
      },
      sum: function() {
        var price = {
          day: 3.99,
          week: 13.99,
          month: 39.99
        }
        return (price[this.type] * this.num).toFixed(2)
      },
      sku: function() {
        var hash = ["", "Anti-Aging", "Beauty", "Brain_Care", "Digestive_Care", "Energy", "Eye_Care", "Heart_Care", "Immune_Support", "Joint_Care", "Liver_Care", "Lung_Care", "Mens_Vitality", "Sleep_Support", "Stress_Management"]

        var num = this.result.slice().sort().map(function (x) { var index = hash.indexOf(x); return index < 10 ? '0' + index : index }).join('')
        return 'ccs' + this.type[0] + this.result.length + 'f'+ new Array(6 - num.length + 1).join('0') + num
      }
    },
    watch: {
      'result': function(val) {
        this.check_3_box(val)
      }
    },
    methods: {
      check_3_box: function() {
        var box = document.getElementsByClassName('checkbox')
        if(this.result.length < 3) {
          for (var i = 0; i < box.length; i++) {
            box[i].disabled=false
          }
        }
        else {
          for (var i = 0; i < box.length; i++) {
            if (!box[i].checked) {
              box[i].disabled=true
            }
          }
        }
      },
      validate: function(event) {
        return this.sku.slice(6) != '000000'
      },
      action_addToCart: function(event) {
        if (this.validate()) {
          $.ajax({
            type: 'POST',
            url: '/api/v1/orders/' + this.order_number + '/line_items?line_item[sku]=' + this.sku + '&line_item[quantity]=' + this.num + '&order_token=' + this.order_token,
            success: function(data) {
              window.location.href = '/cart'
            },
          })
        }
      },
      action_checkout: function(event) {
        if (this.validate()) {
          $.ajax({
            type: 'POST',
            url: '/api/v1/orders/' + this.order_number + '/line_items?line_item[sku]=' + this.sku + '&line_item[quantity]=' + this.num + '&order_token=' + this.order_token,
            success: function(data) {
              window.location.href = '/checkout'
            },
          })
        }
      }
    }
  })
</script>
