<% if false %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>
<% end %>

<% if false %>
<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>
<% end %>

<% @body_id = 'home' %>
<div id="cool-choice-home">
  <div class="banner">
    <div class="container"><img src="/assets/home/page-1@2x.png" class="logo">
      <div class="title"><%= Spree.t(:"homepage.title_proud") %></div>
      <div class="sub-title"><%= Spree.t(:"homepage.title_introduce") %></div>
      <div class="free"><%= Spree.t(:"homepage.title_free") %></div>
    </div>
  </div>
  <div class="section-1">
    <div class="container">
      <div class="title"><%= Spree.t(:"homepage.content_title_magic") %></div>
      <div class="sub-title"><%= Spree.t(:"homepage.content_title_choose") %></div>
      <div class="content clearfix">
        <div class="choose-box eye">
          <label for="eye_box" class="choose-label"><img src="/assets/home/icon-eye@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_eye") %></div>
          </label>
          <input type="checkbox" id="eye_box" value="eye" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box heart">
          <label for="heart_box" class="choose-label"><img src="/assets/home/icon-heart@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_heart") %></div>
          </label>
          <input type="checkbox" id="heart_box" value="heart" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box joint">
          <label for="joint_box" class="choose-label"><img src="/assets/home/icon-joint@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_joint") %></div>
          </label>
          <input type="checkbox" id="joint_box" value="joint" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box beauty">
          <label for="beauty_box" class="choose-label"><img src="/assets/home/icon-beauty@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_beauty") %></div>
          </label>
          <input type="checkbox" id="beauty_box" value="beauty" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box immune">
          <label for="immune_box" class="choose-label"><img src="/assets/home/icon-immune@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_immune") %></div>
          </label>
          <input type="checkbox" id="immune_box" value="immune" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box sex">
          <label for="sex_box" class="choose-label"><img src="/assets/home/icon-sex@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_sex") %></div>
          </label>
          <input type="checkbox" id="sex_box" value="sex" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box liver">
          <label for="liver_box" class="choose-label"><img src="/assets/home/icon-liver@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_liver") %></div>
          </label>
          <input type="checkbox" id="liver_box" value="liver" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box brain">
          <label for="brain_box" class="choose-label"><img src="/assets/home/icon-brain@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_brain") %></div>
          </label>
          <input type="checkbox" id="brain_box" value="brain" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box lung">
          <label for="lung_box" class="choose-label"><img src="/assets/home/icon-lung@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_lung") %></div>
          </label>
          <input type="checkbox" id="lung_box" value="lung" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box digestive">
          <label for="digestive_box" class="choose-label"><img src="/assets/home/icon-digestive@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_digestive") %></div>
          </label>
          <input type="checkbox" id="digestive_box" value="digestive" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box energy">
          <label for="energy_box" class="choose-label"><img src="/assets/home/icon-energy@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_energy") %></div>
          </label>
          <input type="checkbox" id="energy_box" value="energy" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box anti">
          <label for="anti_box" class="choose-label"><img src="/assets/home/icon-anti@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_anti") %></div>
          </label>
          <input type="checkbox" id="anti_box" value="anti" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box relief">
          <label for="relief_box" class="choose-label"><img src="/assets/home/icon-relief@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_relief") %></div>
          </label>
          <input type="checkbox" id="relief_box" value="relief" v-model="result" class="checkbox"/>
        </div>
        <div class="choose-box wish">
          <label for="wish_box" class="choose-label"><img src="/assets/home/icon-wish@2x.png" class="img"/>
            <div class="text"><%= Spree.t(:"homepage.content_function_wish") %></div>
          </label>
          <input type="checkbox" id="wish_box" value="wish" v-model="result" class="checkbox"/>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-simply.png"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_simply") %></div>
        <p><%= Spree.t(:"homepage.cool_simply_line") %><br><%= Spree.t(:"homepage.cool_simply_line_2") %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-care.png" style="margin-top: 20px"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_care") %></div>
        <p><%= Spree.t(:"homepage.cool_care_line") %><br><%= Spree.t(:"homepage.cool_care_line_2") %></p>
      </div>
      <div class="para col-xs-4">
        <div class="img"><img src="/assets/home/icon-ingredients.png" style="margin-top: 48px"></div>
        <div class="title"><%= Spree.t(:"homepage.cool_ingredients") %></div>
        <p><%= Spree.t(:"homepage.cool_ingredients_line") %><br><%= Spree.t(:"homepage.cool_ingredients_line_2") %><br><%= Spree.t(:"homepage.cool_ingredients_line_3") %></p>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="container"><a href="/checkout" style="border: 1px solid #fff" class="button">Add to Cart</a><a href="/checkout" style="background: #00b9ee" class="button">Checkout</a></div>
  </div>
</div>

<script src="/assets/vue.js"></script>
<script>
  var vm = new Vue({
    el: '#cool-choice-home',
    data: {
      result: []
    },
    watch: {
      'result': function(val) {
        this.getSKU(val)
        this.check_3_box(val)
      }
    },
    methods: {
      getSKU: function(res) {
        //- var arr = ['eye', 'heart', 'joint', 'beauty', 'immune', 'sex', 'liver', 'brain', 'lung', 'digestive', 'energy', 'anti', 'relief', 'wish'].sort
        //- var sorted_arr = ["anti", "beauty", "brain", "digestive", "energy", "eye", "heart", "immune", "joint", "liver", "lung", "relief", "sex", "wish"]
        var hash = {
          "anti": '01',
          "beauty": '02',
          "brain": '03',
          "digestive": '04',
          "energy": '05',
          "eye": '06',
          "heart": '07',
          "immune": '08',
          "joint": '09',
          "liver": '10',
          "lung": '11',
          "relief": '12',
          "sex": '13',
          "wish": '14'
        }
        var num = res.slice().sort().map(function (x) { return hash[x] }).join('')
        var sku = new Array(6 - num.length + 1).join('0') + num
        console.log(sku)
      },
      check_3_box: function() {
        var box = document.getElementsByClassName('checkbox')
        if(this.result.length < 3) {
          for (var i = 0; i < box.length; i++) {
            box[i].disabled=false
          }
        }
        else {
          for (var i = 0; i < box.length; i++) {
            if (!box[i].checked) {
              box[i].disabled=true
            }
          }
        }
      }
    }
  })
</script>